.container.transparent-bg
  .text-center.mt-3
    h2 List of Tacticians - {{pagination.totalItems}} Found
  .container.mt-3
    .row.mb-3
      form.form-inline.justify-content-center(novalidate, #filterForm="ngForm", (ngSubmit)="loadUsers()")
        .row.justify-content-center.mb-3
          .form-group.px-2
            label(for="minAge") Age From
            input.form-control.ml-1.input-number#minAge(type="number", name="minAge", [(ngModel)]="userParams.minAge")
          .form-group.px-2
            label(for="maxAge") Age To
            input.form-control.ml-1.input-number#maxAge(type="number", name="maxAge", [(ngModel)]="userParams.maxAge")
          .form-group.px-2
            label(for="genderId") Gender:
            select.form-control.ml-1.input-select#gender(name="genderId", [(ngModel)]="userParams.genderId")
              option(*ngFor="let gender of listOfGenders", [value]="gender.id") {{gender.description}}
          .form-group.px-2 Sort By:
            .btn-group.float-right.ml-1
              button.btn.btn-primary(type="button", name="orderBy", (click)="loadUsers()",
                [(ngModel)]="userParams.orderBy", btnRadio='{{upo.OrderBy.lastLogin}}') Last Active
              button.btn.btn-primary(type="button", name="orderBy", (click)="loadUsers()",
                [(ngModel)]="userParams.orderBy", btnRadio='{{upo.OrderBy.accountCreated}}') Newest Members
        .row.justify-content-center
          .form-group.px-2 Sort By:
            .btn-group.float-right.ml-1
              button.btn.btn-primary(type="button", name="likeFilter", (click)="loadUsers()",
                [(ngModel)]="userParams.likeFilter", btnRadio='{{upo.LikeFilter.all}}') All Users
              button.btn.btn-primary(type="button", name="likeFilter", (click)="loadUsers()",
                [(ngModel)]="userParams.likeFilter", btnRadio='{{upo.LikeFilter.likees}}') Users You Like
              button.btn.btn-primary(type="button", name="likeFilter", (click)="loadUsers()",
                [(ngModel)]="userParams.likeFilter", btnRadio='{{upo.LikeFilter.likers}}') Users That Like You
          .btn-group.px-2
            button.btn.btn-primary(type="submit")
              i.fas.fa-filter
              | &nbsp; Apply Filters
            button.btn.btn-info(type="button", (click)="resetFilters(filterForm)")
              i.fas.fa-undo
              | &nbsp;Reset Filter
    .row(*ngIf="pagination.totalItems")
      .col-lg-2.col-md-3.col-sm-6(*ngFor="let user of users")
        app-user-card(*ngIf="user.name && loggedInUser.listOfLikees", [user]="user", [userliked]="isUserLiked(user.id)", (likeToggled)="likeToggled();")
    .text-center(*ngIf="!pagination.totalItems")
      h3 No Users Found
  .d-flex.justify-content-center
    pagination([boundaryLinks]="true", [totalItems]="pagination.totalItems",
      [itemsPerPage]="pagination.itemsPerPage", [(ngModel)]="pagination.currentPage",
      (pageChanged)="loadUsers($event)",
      previousText="‹", nextText="›", firstText="«", lastText="»")
